[server]
port = 3000

[server.tls]
cert_path = "certs/localhost.crt.pem"
key_path = "certs/localhost.key.pem"

[health.http]
urls = [
  "https://www.google.fr",
  "https://aol.com",
]

[health.cache]
ttl_seconds = 5

[health.dns]
hosts = [
  "localhost",
  "example.com",
]

[[health.disk]]
path = "/"
threshold = 5

[[health.disk]]
path = "/tmp"
threshold = 10
